<h1>Success URL</h1>
  <% @session_with_expand = Stripe::Checkout::Session.retrieve({
    id: params[:session_id],
    expand: ["payment_intent", "line_items"]
  }) %>

  <%= @session_with_expand.line_items.data.each do |line_item| %>
    <%= line_item.price.id %>
    <%= line_item.price.product %>
  <% end %>
