.home-hero {
  background-size: cover;
  background-position: 25% 50%;
  width: 100%;
  // height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left-container {
  background-image: linear-gradient(rgba(0.2, 0.2, 0.2, 0.8), rgba(0, 0, 0, 0.6)), url("home-hero.jpg");
  background-size: cover;
  background-position: 25% 50%;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 60px;
  right: 180px;
}

.hero-left-container p {
  color: white;
  font-size: large;
}

#promoCode {
  border: solid 1px white;
  padding: 5px 10px;
}

.hero-right-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("home-hero2.jpg");
  background-size: cover;
  background-position: 25% 50%;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -60px;
  right: -150px;
}

.hero-right-container p {
  color: white;
  font-size: large;
}

.home-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.home-card {
  height: 600px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card a {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

#newArrivalsCard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('newArrivals.jpg');
  background-position: 35%;
}

#menCard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("men.jpg")
}

#womenCard{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("women.jpg")
}

#kidsCard{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("kids.jpg");
  background-position: 55%;
}
