.cancel-container {
  padding-left: 20px;
}

.cancel-container h3 {
  margin-bottom: 20px;
}

.cancel-products-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 50%;
}
