  <div class= "home-hero">
    <div class="hero-left-container">
      <div class="hero-left-container-text">
        <P><b>ONLY FOR THIS MONTH</b></P>
        <p><b>10% DISCOUNT CODE:</b></p>
        <p><b><u>SHOES10</u></b></p>
      </div>
    </div>
    <div class="hero-right-container">
      <div class="hero-right-container-text">
        <P><b>RUNNING</b></P>
        <p><b>See More</b></p>
      </div>
    </div>
  </div>

  <div class="home-cards-container">
    <div class="home-card" id="newArrivalsCard">
      <a href="#">NEW ARRIVALS</a>
    </div>
    <div class="home-card" id="menCard">
      <a href="#">MEN</a>
    </div>
    <div class="home-card" id="womenCard">
      <a href="#">WOMEN</a>
    </div>
    <div class="home-card" id="kidsCard">
      <a href="#">KIDS</a>
    </div>
  </div>
