.navbar {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: solid 1px grey;
}

.center-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.search-bar-form {
  width: 400px;
}

.search-bar-input {
  width: 300px;
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  position: relative;
  right: 10px;
  bottom: 20px;
}

.cart-circle-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: bold;
}

.cart-product-card {
  display: flex;
  align-items: center;
}

.cart-product-img {
  width: 50px;
  height: 50px;
}

.cart-product-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-product-card-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}

.cart-total-price {
  display: flex;
  justify-content: flex-end;
}

.bottom-navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: space-around;

}

.bottom-nav-item {
  padding: 5px 10px;
  text-align: center;
  border-right: solid 2px grey;
  font-weight: bold;
}

.bottom-nav-item a {
  cursor: pointer;
}

.bottom-nav-item:hover {
  color: #024983;
}

.bottom-nav-item:nth-child(n+5) {
  border-right: none;
}
