.show-product-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.show-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.show-right-container {
  width: 40%;
  padding-right: 10px;
}

.show-product-img {
  height: 500px;
  width: 500px;
}

.show-product-price {
  display: flex;
}

.show-product-price p {
  margin-right: 4px;
}

.show-genre-category {
  display: flex;
}

.product-price-genre {
  margin-bottom: 15px;
}

.product-price-genre p {
  margin-bottom: 0px;
}

.show-product-color-img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.sizes-table {
  width: 100%;
}

.sizes-table td {
  width: 50px;
  border: 1px solid black;
  text-align: center;
}

.sizes-table td:hover {
  background-color: #02689F;
  color: white;
}

.sizes-table input {
  cursor: pointer;
}

.sizes-table label {
  margin-left: 4px;
}

.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 10px 5px;
  width: 100%;
  border: none;
}

.add-to-cart-btn:hover {
  background-color: #404040;
}

.product-controls {
  margin-left: 5px;
}

@media (max-width: 920px) {
  .show-product-container {
      flex-direction: column;
    }

  .show-left-container {
    width: 80%;
    margin: 0 auto;
  }

  .show-right-container {
    width: 80%;
    padding-right: 0px;
    margin: 20px auto;
  }
}
