.show-product-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.show-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 600px;
  width: 600px;
  margin-bottom: 10px;
  background-position: 50% 50%;
  position: relative;
  margin: 0px auto;
  border: 5px solid white;
  box-shadow: -1px 5px 15px black;
  overflow: hidden;
  cursor: zoom-in;
}

.show-product-img {
  height: 600px;
  width: 600px;
  transition: opacity 0.5s;
  display: block;
}

.show-product-img:hover {
  opacity: 0;
}

.show-right-container {
  width: 40%;
  padding-right: 10px;
}


.show-product-price {
  display: flex;
}

.show-product-price p {
  margin-right: 4px;
}

.show-genre-category {
  display: flex;
}

.product-price-genre {
  margin-bottom: 15px;
}

.product-price-genre p {
  margin-bottom: 0px;
}

.show-product-color-img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.sizes-table {
  width: 100%;
}

.sizes-table td {
  width: 50px;
  border: 1px solid black;
  text-align: center;
}

.sizes-table td:hover {
  background-color: #02689F;
  color: white;
}

.sizes-table input {
  cursor: pointer;
}

.sizes-table label {
  margin-left: 4px;
  cursor: pointer;
}

.sizes-table td {
  cursor: pointer;
}

.sizes-table td.selected {
  background-color: #02689F;
  color: white;
}

.add-to-cart-btn {
  background-color: black;
  color: white;
  padding: 10px 5px;
  width: 100%;
  border: none;
}

.add-to-cart-btn:hover {
  background-color: #404040;
}

.product-controls {
  margin-left: 5px;
  margin-top: 10px;
}

@media (max-width: 1080px) {

  .show-left-container {
    width: 550px;
    height: 550px;
   }

  .show-product-img {
    width: 550px;
    height: 550px;
  }
}

@media (max-width: 965px) {
  .show-product-container {
      flex-direction: column;
    }

  .show-right-container {
    width: 70%;
    padding-right: 0px;
    margin: 20px auto;
  }

@media (max-width: 560px) {
  .show-left-container {
      width: 400px;
      height: 400px;
    }

  .show-product-img {
    width: 400px;
    height: 400px;
  }
}

}
